<%- include('partials/head') %>
    <body>

        <%- include('partials/navbar') %>

        <h1>Could not find <%= album %></h1>
        
        <script src="" async defer></script>
    </body>
</html>